body{,
font-size: 20px;
background-color: rgba(0, 255, 255, 0.146);}

.Headshot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Name {
  display: flex;
  justify-content: center;
  align-items: center;
}
